:root {
    --cor-fundo: #d7e3d1;
    --cor-superficie: #ebf1e8;

    --cor-texto: #000000;
    --cor-texto-suave: #292a29;

    --cor-marca: #234d12;
    --cor-sobre-marca: #ebf1e8;

    --cor-borda: #162f0b;

    --fonte-texto: "Oswald", sans-serif;;
    --fonte-titulo: "Oswald", sans-serif;

    /*
     texto = 1rem 
     h3 = 1 × 1,25 = 1,25rem 
     h2 = 1,25 × 1,25 = 1,5625rem 
     h1 = 1,5625 × 1,25 = 1,953125rem 
     */

    --tamanho-texto: 1rem;
    --tamanho-h3: 1.25rem;
    --tamanho-h2: 1.563rem;
    --tamanho-h1: 1.953rem;

    --espaco-1: 0.5rem;
    --espaco-2: 1rem;
    --espaco-3: 1.5rem;
    --espaco-4: 2rem;

    --raio: 8px;

    --sombra: 0 4px 12px rgb(0 0 0 / 0.12);
    }